.App-header{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li{
  display: inline;
  float: left;
  padding: 8px;
  /* background-color: #dddddd; */
}

.list{ 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list:hover{
  background-color: #111;
}